html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.Header {
  flex: 0 1 auto;
}

.Main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: scroll;
}

.Main__container {
  display: flex;
  flex: 1;
}

.Puzzle {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Puzzle form {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 80%;
}

.Puzzle form div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.monospace {
  font-family: monospace;
}

.font-super-small {
  font-size: 4px;
}

.font-small {
  font-size: 6px;
}

.font-smallish {
  font-size: 8px;
}

.font-large {
  font-size: 16px;
}

.font-bold {
  font-weight: bold;
}

.line-height-1 {
  line-height: 1;
}

.square-cell {
  width: 41px;
  height: 30px;
}

table.with-borders {
  border-spacing: 0;
  border-collapse: separate;
}

table.with-borders td {
  border: solid 1px black;
}

table.with-borders td.top {
  border-top: 0;
}

table.with-borders td.btm {
  border-bottom: 0;
}

table.with-borders td.rgt {
  border-right: 0;
}

table.with-borders td.lft {
  border-left: 0;
}

html body #root .App .PuzzleInput__textarea {
  flex: 1;
  font-family: monospace;
  height: 100%;
}

.Puzzle__back__text {
  vertical-align: middle;
  padding-left: 0.2rem;
}

div.Solution__Jumbotron {
  padding: 2rem 1.5rem;
}
